DEEPGRAM_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
GEMINI_API_KEY=
FIREBASE_API_KEY=
PING_MESSAGE=
VITE_BASE44_APP_BASE_URL=
VITE_BASE44_APP_ID=
VITE_BASE44_FUNCTIONS_VERSION=
VITE_DEEPGRAM_API_KEY=
VITE_ELEVENLABS_API_KEY=
VITE_ELEVENLABS_VOICE_ID=
VITE_PUBLIC_BUILDER_KEY=